.header {
   position: fixed;
   width: 750px;
   left: 50%;
   z-index: 1;
   background-color: #add8e6;
   max-width: 100%;
   transform: translateX(-50%);
   top: 0;
   padding: 20px 23px 7px 23px;

   @include responsive(tab-portrait) {
      width: 100%;
      left: 0;
      transform: translateX(0);
   }
}

.toolbar-wrap {
   background-color: #fff;
   padding: 15px;
   box-shadow: $shadow;
   border-radius: 4px;
}

.field {
   height: 4rem;
   position: relative;
   .input, 
   .input-select {
      display: block;
      max-width: 100%;
      width: 100%;
      padding: .7rem 1.2rem;
      line-height: 1.5;
      font-size: 1rem;
      height: 100%;
      font-size: 16px;
      border-radius: 3px;
      border: 1px solid #e8e8e8;
      color: #848484;

      &:focus {
         border: 2px solid #0191f0;
      }
   }

   .input-select > option {
      text-transform: capitalize;
   }
}

